@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #37B7C3;
  --color-secondary: #088395;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply border-white;
}

a:hover {
  @apply border-b-2 border-white;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
